
			<h2>2D</h2>

			<ul class="bottombar">
				<li><a href="#sketcherSingle_button_erase" class="button icon chemdoodle"><i class="fas fa-eraser"></i></a></li>
				<li><a href="#sketcherSingle_button_undo" class="button icon chemdoodle"><i class="fas fa-undo"></i></a></li>
				<li><a href="#sketcherSingle_button_redo" class="button icon chemdoodle"><i class="fas fa-redo"></i></a></li>
				<li><a href="#sketcherSingle_button_center" class="button icon chemdoodle"><i class="fas fa-expand-arrows-alt"></i></a></li>
				<li><a href="#sketcherSingle_button_scale_plus" class="button icon chemdoodle"><i class="fas fa-search-plus"></i></a></li>
				<li><a href="#sketcherSingle_button_scale_minus" class="button icon chemdoodle"><i class="fas fa-search-minus"></i></a></li>
			</ul>


            <h2>Load</h2>

            <ul>
                <li><a class="button" href="#">Methane</a></li>
                <li><a class="button" href="#">Benzene</a></li>
            </ul>

            <h2>Tool</h2>

            <ul>
                <li>
                    <a href="#sketcherSingle_button_ring_benzene" class="button icon chemdoodle">
    				    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA5klEQVR42s2VPwrCMBSH06k0o1MX6R2c7A08hDfRRdDVgp5BR71GvUKdtHNvIMRf4FcoIdgkzeCDD0r+fLyQl1ch3GMmIkUOzuADDkBOEVWgA0ewABfQgjVIQkU5x/vMlqAGD1CGiFKwBS+QcSxhli2znpsyvVAZIh0r8AQ3UFiS0FnvuDczJ9XgW2++g4bSsVC/BiWPt+FxXSRqbEHmmZVyTvtvhTKmUMvesS+lYO0Fl01f2JWlsJvQws75UjpDnPL4Xk/PRdzLSjaGmo3Cq30Nxbp9XXlhXu3LJj6xwe6nNNigX8AXVupH9hGtsNcAAAAASUVORK5CYII=" />
                    </a>
                </li>
                <li>
                    <a href="#sketcherSingle_button_ring_cyclobutane" class="button icon chemdoodle">
	        			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAiklEQVR42q3UwQ2AIAwF0E7hOv4bTCN7uwIXG0MTYgRa2iYNF3lB+ECkr4MCK3NX7hSBgfvmvtp4RmCCnB4Ug8lbKBaTTCiUH6tQGH9nimJzw3/R7IyEoEluQG0581RpzlvJuUL0KyRnaKd7b0VVB6lFTalYoVsRG6HwHOAXRcQTJmiJwPqcql7sB1sQMyMuYZLDAAAAAElFTkSuQmCC">
                    </a>
                </li>
                <li>
                    <a href="#sketcherSingle_button_ring_cyclopentane" class="button icon chemdoodle">
	        			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAA0klEQVR42mNgIB6IMFAJMAFxKRD/BuI0Sg1TAeJDUOwOxFeBeAEQc5Hjqnwgfg3EeUDMCBUHGTQfarAWOa5SxqEmHohfAXECOa7CBbTwBYEWEa7CBpCDwAAmKAjEf6ExyUhm5KUD8R8gFoAJ7AHiIApSA0jvbmSBHKjTyQUgvdnIAvJA/BIaMeQksZdQM1DAJSC2IMNAS6heDNAKxaQCnPpw2kQA4PQZzrDAAwiGPUZsEQCg1DGPUHraQYKBOwmlXx4g/k8i5iFkKxsJLmRjoDUAAID6NQMa+if+AAAAAElFTkSuQmCC">
                    </a>
                </li>
                <li>
                    <a href="#sketcherSingle_button_ring_cyclohexane" class="button icon chemdoodle">
	        			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAoElEQVR42mNgIB4IMVAJSADxZCD+A8StQMxFiUH9QPwWiPuA2AiIlwLxYyCOAWJGcg2SQJO3AOITQHwSiC0pMQgZMEJd+Rjqall0BZxA/J8Ig9ABKDwboXo50SX/UxBx/4kWHDVw1EDcemEJu5+aCVsCmlPeEmEwwaxHisGW0ILhBLSgIKn4QjYYVHwtA+JHpBZf2AyeBC1gWygpYMmqAgB+TzRkG9cEtwAAAABJRU5ErkJggg==">
                    </a>
                </li>
            </ul>

			<ul>
				<li><a href="#sketcherSingle_button_label_h" class="button icon chemdoodle">H</a></li>
				<li><a href="#sketcherSingle_button_label_c" class="button icon chemdoodle">C</a></li>
				<li><a href="#sketcherSingle_button_label_n" class="button icon chemdoodle">N</a></li>
				<li><a href="#sketcherSingle_button_label_o" class="button icon chemdoodle">O</a></li>
				<li><a href="#sketcherSingle_button_label_f" class="button icon chemdoodle">F</a></li>
				<li><a href="#sketcherSingle_button_label_cl" class="button icon chemdoodle">Cl</a></li>
				<li><a href="#sketcherSingle_button_label_br" class="button icon chemdoodle">Br</a></li>
				<li><a href="#sketcherSingle_button_label_i" class="button icon chemdoodle">I</a></li>
				<li><a href="#sketcherSingle_button_label_p" class="button icon chemdoodle">P</a></li>
				<li><a href="#sketcherSingle_button_label_s" class="button icon chemdoodle">S</a></li>
				<li><a href="#sketcherSingle_button_label_si" class="button icon chemdoodle">Si</a></li>
			</ul>

			<ul>
				<li><a href="#sketcherSingle_button_attribute_charge_increment" class="button icon chemdoodle">+1</a></li>
				<li><a href="#sketcherSingle_button_attribute_charge_decrement" class="button icon chemdoodle">-1</a></li>
			</ul>

            <ul>
                <li>
                    <a class="button icon chemdoodle" href="#sketcherSingle_button_bond_single">
	        			<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAMklEQVR42mNgGMSAm5qGOQDxfSDmopZhr4DYftSwUcNGDRs1jP6GcUPLM6oYBgNUKRwBiE8XjxDJvZUAAAAASUVORK5CYII=" />
                    </a>
                </li>
                <li>
                    <a class="button icon chemdoodle" href="#sketcherSingle_button_bond_recessed">
	        			<img id="sketcherSingle_button_bond_recessed_icon" title="Recessed Bond" width="20" height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQUlEQVR42mNgGGQghJqGBQDxbyBOoaahCYPSUGyaYYYOI28y4PDm4IxNBmp6k2JAE28OPvAdiBuoaaALwyggBQAA+tATdpIiCMcAAAAASUVORK5CYII=" />
                    </a>
                </li>
                <li>
                    <a class="button icon chemdoodle" href="#sketcherSingle_button_bond_Protruding Bond">
	        			<img id="sketcherSingle_button_bond_protruding_icon" title="Protruding Bond" width="20" height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAl0lEQVR42mNgoAwEAHEDA5WAChC/B+L/1DCUBYivQw37Tw1Dl6MZRpGhBTgM+w3EFaQaZgPEn7EY9hiIPUg1TAaI72Mx7DAQK5ATCbuxGNYPxDzkhFs3lvCKoCTxIht2G4g1qJF4QXg9uV5ET7xkJQlciZesJIEr8ZKVJHAl3n5Kwgs58d6mJEmgR8J0SpIENq/yMAx7AADDzz/MOB6JagAAAABJRU5ErkJggg==" />
                    </a>
                </li>
                <li>
                    <a class="button icon chemdoodle" href="#sketcherSingle_button_bond_double">
				        <img id="sketcherSingle_button_bond_double_icon" title="Double Bond" width="20" height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQUlEQVR42mNgoA7gZqAicADi+0DMRS3DXgGxPTVcim4YzKVUMwyZP2rYqGGjhg0Dw7ihpQRVDIMBLmoahsulZAEA2GgvCVlTJIIAAAAASUVORK5CYII=" />
                    </a>
                </li>
                <li>
                    <a class="button icon chemdoodle" href="#sketcherSingle_button_bond_triple">
                        <img id="sketcherSingle_button_bond_icon" title="Other Bond" width="20" height="20" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAUUlEQVR42mNgoAxwM1AROADxfSDmopZhr4DYnhouRTeMIpdiM4xslxIyDOZSqhmGzB81bNSwATeMG5rCqWIYDHBR0zBiXUoW4KKmYbhcShIAAA2MPiFy45L3AAAAAElFTkSuQmCC" />
                    </a>
                </li>
            </ul>


