<!DOCTYPE html>
<html lang="en">
<head>

    <title>MolCalc</title>

    <link rel="shortcut icon" type="image/ico" href="{{ request.static_url('__main__:assets/favicon.ico')}}" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="google" content="notranslate" />
	<meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script type="text/javascript" src="{{ request.static_url('__main__:assets/js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('__main__:assets/js/app.js') }}"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" />
    <link rel="stylesheet" href="{{ request.static_url('__main__:assets/css/app.css') }}" />
    <link rel="stylesheet" href="{{ request.static_url('__main__:assets/fontawesome/css/all.css') }}" />

</head>
<body>

    <section class="molcalc" id="molcalc-view">

        <section class="mc-header">
            <h1>MolCalc</h1>
        </section>

        <section class="mc-mobile-navigation toggle700 btnHeader left">
            <a class="button icon btnSidebar" href="#sidebarEditor">
				<i class="fas fa-angle-right"></i>
            </a>
        </section>

        <section class="mc-navigation sidebar" id="nav">
            <ul>
                <li><a class="" href="/">New molecule</a></li>
                <li><a class="" href="/help">Help</a></li>
                <li><a class="" href="/about">About</a></li>
                <li><a class="" href="https://github.com/jensengroup/molcalc">GitHub</a></li>
            </ul>
        </section>

        <section class="mc-footer">
            <p>Problems? Submit issues to <a href="https://github.com/jensengroup/molcalc">github.com/jensengroup/molcalc</a></p>
        </section>

        <!-- content -->



        <!-- end content -->

    </section>

	<section class="hidden">

	</section>

</body>
</html>

