
                <ul>
                    <li class="action load_methane"><a rel="" class="button">Methane</a></li>
                    <li class="action load_benzene"><a rel="" class="button">Benzene</a></li>
                    <li class="action load_water"><a rel="" class="button">Water dimer</a></li>
                </ul>


                <h3>3D</h3>

                <ul>
                    <li class="action minimize"><a rel="" class="button">Optimize</a></li>
                </ul>

                <h2>Atom manipulation</h2>

                <ul>
                    <li class="action atom"><a rel="off" class="button"><span class="hvrHlpCnt "><span class="hvrHlp">Turn off atom manipulation</span></span>	<span class="text">Off</span></a></li>
                    <li class="action atom"><a rel="dra" class="button"><span class="hvrHlpCnt "><span class="hvrHlp">Drag selected atom</span></span>	<span class="text">Drag</span></a></li>
                    <li class="action atom"><a rel="x" class="button"><span class="hvrHlpCnt "><span class="hvrHlp">Remove selected atom from stucture</span></span>	<span class="text">Delete</span></a></li>
                </ul>

                <ul>
                    <li class="action atom"><a rel="H"  class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Hydrogen</span></span><span class="text">H</span></a></li>
                    <li class="action atom"><a rel="Li" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Lithium</span></span><span class="text">Li</span></a></li>
                    <li class="action atom"><a rel="Be" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Beryllium</span></span><span class="text">Be</span></a></li>
                    <li class="action atom"><a rel="C"  class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Carbon</span></span><span class="text">C</span></a></li>
                    <li class="action atom"><a rel="N"  class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Nitrogen</span></span><span class="text">N</span></a></li>
                    <li class="action atom"><a rel="O"  class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Oxygen</span></span><span class="text">O</span></a></li>
                    <li class="action atom"><a rel="F"  class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Fluorine</span></span><span class="text">F</span></a></li>
                    <li class="action atom"><a rel="Ne" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Neon</span></span><span class="text">Ne</span></a></li>
                    <li class="action atom"><a rel="Na" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Sodium</span></span><span class="text">Na</span></a></li>
                    <li class="action atom"><a rel="Mg" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Magnesium</span></span><span class="text">Mg</span></a></li>
                    <li class="action atom"><a rel="Al" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Aluminium</span></span><span class="text">Al</span></a></li>
                    <li class="action atom"><a rel="Si" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Silicon</span></span><span class="text">Si</span></a></li>
                    <li class="action atom"><a rel="P"  class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Phosphorus</span></span><span class="text">P</span></a></li>
                    <li class="action atom"><a rel="S"  class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Sulfur</span></span><span class="text">S</span></a></li>
                    <li class="action atom"><a rel="Cl" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Chlorine</span></span><span class="text">Cl</span></a></li>
                    <li class="action atom"><a rel="Ar" class="button icon"><span class="hvrHlpCnt"><span class="hvrHlp">Argon</span></span><span class="text">Ar</span></a></li>
                </ul>

                <ul>
                    <li class="action atom remove"><a rel="Pl" class="button icon"><span class="hvrHlpCnt "><span class="hvrHlp">Increase charge of selected atom</span></span>	<span class="text">+1</span></a></li>
                    <li class="action atom remove"><a rel="Mi" class="button icon"><span class="hvrHlpCnt "><span class="hvrHlp">Decrease charge of selected atom</span></span>	<span class="text">-1</span></a></li>
                </ul>

                <h2>Bond manipulation</h2>

				<ul>
					<li class="action bond"><a rel="n" href="#" class="button"><span class="hvrHlpCnt"><span class="hvrHlp">Turn off bond editing</span></span><span class="text">Off</span></a></li>
					<li class="action bond"><a rel="0" href="#" class="button"><span class="hvrHlpCnt"><span class="hvrHlp">Break bond</span></span><span class="text">Break</span></a></li>
					<li class="action bond"><a rel="1" href="#" class="button"><span class="hvrHlpCnt"><span class="hvrHlp">Change Bond type</span></span><span class="text">Single</span></a></li>
					<li class="action bond"><a rel="2" href="#" class="button"><span class="hvrHlpCnt"><span class="hvrHlp">Change Bond type</span></span><span class="text">Double</span></a></li>
					<li class="action bond"><a rel="3" href="#" class="button"><span class="hvrHlpCnt"><span class="hvrHlp">Change Bond type</span></span><span class="text">Triple</span></a></li>
				</ul>


