<!DOCTYPE html>
<html lang="en">
<head>

    <title>MolCalc</title>



    {% include 'section_header.html' %}


    {% include 'jsmol_head.html' %}

</head>
<body>

    <section class="molcalc calculation">

        <section class="mc-header">
            <h1>MolCalc</h1>
        </section>

        <section class="mc-mobile-navigation toggle700 btnHeader left">
            <a class="button icon btnSidebar" href="#nav">
				<i class="fas fa-angle-right"></i>
            </a>
        </section>

        {% include 'section_menu.html' %}

        {% include 'section_footer.html' %}

        <!-- content -->

        <section class="mc-content calculation">

            <h1>{{smiles}}</h1>

            <!--
                Molecule
                Thermodynamics
                Molecular Orbitals
                Vibrational Frequencies
                Polarity and Solvation
            -->

            <section class="calc calc-sdf">

<svg width="400px" height="400px">
{{svg|safe}}
</svg>

<pre>{{sdf}}</pre>


            </section>


            <section class="calc calc-default">

                <div class="viewer-jsmol">
<script type="text/javascript">

var sdf = `{{sdf}}`;

var myJmol1;
var myInfo1 = {
    height: '100%',
    width: '100%',
    j2sPath: "/static/jsmol/jsmol/j2s",
    use: 'HTML5',
    console: "myJmol1_infodiv",
    disableInitialConsole: true,
    allowJavaScript: true,
    debug: false
};

myJmol1 = Jmol.getApplet("myJmol1", myInfo1);
Jmol.script(myJmol1, 'load "static/molecules/methane.sdf";');
Jmol.script(myJmol1, 'background "#ffffff"');
Jmol.script(myJmol1, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3');
</script>

                </div>

            </section>


            <section class="calc calc-preview">
                
            </section>

            <section class="calc calc-thermodynamics">
                
            </section>



        </section>



        <!-- end content -->

    </section>

	<section class="hidden">

	</section>

</body>
</html>

