<!DOCTYPE html>
<html lang="en">
<head>

    <title>MolCalc</title>

    {% include 'section_header.html' %}

</head>
<body>

    <section class="molcalc page">

        {% include 'section_icon.html' %}

        <section class="mc-mobile-navigation toggle700 btnHeader left">
            <a class="button icon btnSidebar" href="#nav">
				<i class="fas fa-angle-right"></i>
            </a>
        </section>

        {% include 'section_menu.html' %}

        {% include 'section_footer.html' %}

        <!-- content -->

        <section class="mc-content">

            <h1>What is MolCalc?</h1>

            <p>MolCalc is a web interface that allows chemist to build
            small molecules and estimate molecular properties such as</p>

            <ul>
                <li>molecular structure</li>
                <li>heats of formation and other thermodynamic properties</li>
                <li>vibrational frequencies and vibrational modes</li>
                <li>molecular orbitals and orbital energies</li>
                <li>dipole moment and solvation surface</li>
            </ul>

            <p>in a matter of seconds or minutes - depending on the size.</p>

            <p>
            Disclaimer: MolCalc is designed for teaching as opposed to research -
            specifically for assignments in which students build their own
            molecules and estimate their own molecular properties.
            It is designed to run fast and therefore estimated molecular
            properties will not match experimental values exactly, and in some
            cases be quite different.
            </p>

            <p>
            The idea is to have students develop a "chemical intuition" about
            how molecular structure affects molecular properties, without
            performing the underlying calculations by hand (which would be near
            impossible for all but the simplest chemical systems).
            </p>

            <h2>How do I cite MolCalc?</h2>

            <p>J. H. Jensen and J. C. Kromann,<br />
            The Molecule Calculator: A Web Application for Fast Quantum Mechanics-Based Estimation of Molecular Properties,<br />
            J. Chem. Educ., 2013, 90 (8), pp 1093–1095. DOI: 10.1021/ed400164n<br />
            </p>

            <h2>How does MolCalc work?</h2>

	    <p>
		    For 2D compound building, we use the excellent <a href="https://web.chemdoodle.com/">web.chemdoodle.com</a> from <a href="https://chemdoodle.com">Chemdoodle</a>.
	    </p>

            <p>MolCalc uses the following technologies</p>

            <p>Other than standard HTML and CSS3 we use the following technologies and packages.</p>


            <p>Frontend uses</p>

            <ul>
                <li>JavaScript (jQuery)</li>
                <li>JSmol</li>
                <li>Chemdoodle</li>
            </ul>

            <p>Backend uses</p>

            <ul>
                <li>Python (Pyramid, SQLAlchemy)</li>
                <li>JavaScript (jQuery)</li>
                <li>GAMESS</li>
            </ul>


            <h2>Can I host my own version MolCalc?</h2>

            <p>Yes, MolCalc is distributed through GitHub under the GPL license.
            Download and the source from <a href="https://github.com/jensengroup/molcalc">github.com/jensengroup/molcalc</a>.</p>

            <p>
                For the quantum chemistry calculations you must obtain a copy of the GAMESS code separately from
                <a href="https://www.msg.ameslab.gov/gamess/download.html">www.msg.ameslab.gov/gamess/download.html</a>.
            </p>



            <h2>Installation and dependencies</h2>

            <p>Check out <a href="https://github.com/jensengroup/molcalc">github.com/jensengroup/molcalc</a> for installation guide.</p>


            <h2>I found a bug or I have a feature request</h2>

            <p>
            want to contribute?
            Want to extend the functionality of molcalc?
            Great. Please report it at
            <a href="https://github.com/jensengroup/molcalc/issues">github.com/jensengroup/molcalc/issues</a>.
            </p>

        </section>

    </section>

</body>
</html>




