<!DOCTYPE html>
<html lang="en">
<head>

    <title>MolCalc</title>

    {% include 'section_header.html' %}

    {% include 'chemtools_head.html' %}
    {% include 'jsmol_head.html' %}

    <script type="text/javascript" src="{{ request.static_url('molcalc:static/js/editor.js') }}"></script>

</head>
<body>

    <section class="molcalc editor" id="molcalc-view">

        <section class="mc-header">
            <h1>MolCalc</h1>
        </section>

        <section class="mc-mobile-navigation toggle700 btnHeader left">
            <a class="button icon btnSidebar" href="#sidebarEditor">
				<!-- <i class="fas fa&#45;angle&#45;right"></i> -->
				<i class="fas fa-bars"></i>
            </a>
        </section>

        {% include 'section_menu.html' %}

        <section class="mc-footer">
            <p>Problems? Submit issues to <a href="https://github.com/jensengroup/molcalc">github.com/jensengroup/molcalc</a></p>
        </section>

        <!-- content -->

        <section class="mc-mobile-search toggle700 btnHeader right">
            <a class="button icon" href="#searchbar">
                <i class="fas fa-search"></i>
            </a>
        </section>

        <section class="mc-editor-searchbar">
            <form>
            <input type="text" placeholder="Search" autocomplete="off" id="searchbar" />
            <a class="button icon">
                <i class="fas fa-search"></i>
            </a>
            <span class="toggle700 searchbar-close button icon">
                <i class="fas fa-times"></i>
            </span>
            </form>
        </section>


        <section class="mc-editor-tools sidebar" id="sidebarEditor">

            <section class="toolset toggle700">
                <a class="button icon btnCloseSidebar" href="#sidebarEditor">
                    <i class="fas fa-angle-left"></i>
                </a>
                <a class="button btnSidebar menu" href="#nav">Menu</a>
            </section>

            <section class="sidebar-cover"></section>
            <section class="sidebar-background btnCloseSidebar" href="#sidebarEditor"></section>

            <section class="toolset tool-choice">
                <h2></h2>
                <ul>
                    <li><a href="#" rel="3d" class="button icon 3d">3D</a></li>
                    <li><a href="#" rel="2d" class="button icon 3d active">2D</a></li>
                </ul>
            </section>

            <section class="toolset jsmol">
                {% include 'jsmol_toolbar.html' %}
            </section>

            <section class="toolset chemdoodle">
                {% include 'chemtools_toolbar.html' %}
            </section>

            <section class="toolset quantum">
				<h2 class="toggle-desktop">Calculate properties</h2>
                <ul class="bottombar">

                    <li><a href="#" class="button quantum highlight">Quantum</a></li>
                    <li><a href="#" class="button getName">Get name</a></li>
                </ul>
            </section>


        </section>

        <section class="mc-content">


            <div id="editor-chemdoodle">
                {% include 'chemtools_content.html' %}
            </div>


            <div id="editor-jsmol">
                {% include 'jsmol_content.html' %}
            </div>

        </section>


    </section>

	<section class="hidden">

	</section>

</body>
</html>
