<!DOCTYPE html>
<html lang="en">
<head>

    <title>MolCalc</title>

    {% include 'section_header.html' %}

</head>
<body>

    <section class="molcalc page">

        {% include 'section_icon.html' %}

        <section class="mc-mobile-navigation toggle700 btnHeader left">
            <a class="button icon btnSidebar" href="#nav">
				<i class="fas fa-angle-right"></i>
            </a>
        </section>

        {% include 'section_menu.html' %}

        {% include 'section_footer.html' %}

        <!-- content -->

        <section class="mc-content">

            <h1>404: Not found</h1>

            <p></p>

            <p>Funny quote for page not being avaliable.</p>

        </section>

    </section>

</body>
</html>
