<!DOCTYPE html>
<html lang="en">
<head>

    <title>MolCalc</title>

    <link rel="shortcut icon" type="image/ico" href="{{ request.static_url('__main__:assets/favicon.ico')}}" />

    <meta name="theme-color" content="#ffffff" />

    <meta name="google" content="notranslate" />
	<meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script type="text/javascript" src="{{ request.static_url('__main__:assets/js/jquery-3.3.1.min.js') }}"></script>

    {% include 'chemtools_head.html' %}
    {% include 'jsmol_head.html' %}

    <script type="text/javascript" src="{{ request.static_url('__main__:assets/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('__main__:assets/js/editor.js') }}"></script>

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" /> -->
    <link rel="stylesheet" href="{{ request.static_url('__main__:assets/css/app.css') }}" />
    <link rel="stylesheet" href="{{ request.static_url('__main__:assets/fontawesome/css/all.css') }}" />

</head>
<body>

    <section class="molcalc editor" id="molcalc-view">

        <section class="mc-header">
            <h1>MolCalc</h1>
        </section>

        <section class="mc-mobile-navigation toggle700 btnHeader left">
            <a class="button icon btnSidebar" href="#sidebarEditor">
				<i class="fas fa-angle-right"></i>
            </a>
        </section>

        <section class="mc-navigation sidebar" id="nav">
            <ul>
                <li><a class="" href="/">New molecule</a></li>
                <li><a class="" href="/help">Help</a></li>
                <li><a class="" href="/about">About</a></li>
                <li><a class="" href="https://github.com/jensengroup/molcalc">GitHub</a></li>
            </ul>
        </section>

        <section class="mc-footer">
            <p>Problems? Submit issues to <a href="https://github.com/jensengroup/molcalc">github.com/jensengroup/molcalc</a></p>
        </section>

        <!-- content -->

        <section class="mc-mobile-search toggle700 btnHeader right">
            <a class="button icon" href="#searchbar">
                <i class="fas fa-search"></i>
            </a>
        </section>

        <section class="mc-editor-searchbar">
            <form>
            <input type="text" placeholder="Search" id="searchbar" />
            <a class="button icon">
                <i class="fas fa-search"></i>
            </a>
            </form>
        </section>


        <section class="mc-editor-tools sidebar" id="sidebarEditor">

            <section class="toolset toggle700">
                <a class="button icon btnCloseSidebar" href="#sidebarEditor">
                    <i class="fas fa-angle-left"></i>
                </a>
            </section>


            <section class="sidebar-cover">
            </section>

            <section class="toolset tool-choice">
                <h2></h2>
                <ul>
                    <li>

                        <li><a href="#" rel="3d" class="button icon 3d">3D</a></li>
                        <li><a href="#" rel="2d" class="button icon 3d active">2D</a></li>

                    </li>

                </ul>
            </section>

            <section class="toolset jsmol">
                {% include 'jsmol_toolbar.html' %}
            </section>

            <section class="toolset chemdoodle">
                {% include 'chemtools_toolbar.html' %}
            </section>

            <section class="toolset quantum">
				<h2>Calculate properties</h2>
                <ul>

                    <li><a href="#" class="button quantum highlight">Quantum</a></li>
                    <li><a href="#" class="button getName">Get name</a></li>
                </ul>
            </section>


        </section>

        <section class="mc-content">


            <div id="editor-chemdoodle">
                {% include 'chemtools_content.html' %}
            </div>


            <div id="editor-jsmol">
                {% include 'jsmol_content.html' %}
            </div>

        </section>


    </section>

	<section class="hidden">

	</section>

</body>
</html>

