
        <section class="mc-navigation sidebar" id="nav">

            <section class="toggle700 section">
                <a class="button icon btnCloseSidebar" href="#nav">
                    <i class="fas fa-angle-left"></i>
                </a>
            </section>

            <section class="sidebar-cover"></section>
            <section class="sidebar-background btnCloseSidebar" href="#nav"></section>

            <section class="section">
            <ul>
                <li><a class="" href="/">New molecule</a></li>
                <li><a class="" href="/help">Help</a></li>
                <li><a class="" href="/about">About</a></li>
                <!-- <li><a class="" href="https://github.com/jensengroup/molcalc">GitHub</a></li> -->
            </ul>
            </section>

        </section>

