
    <meta name="theme-color" content="#ffffff" />

    <meta name="google" content="notranslate" />
	<meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <script type="text/javascript" src="{{ request.static_url('molcalc:static/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('molcalc:static/js/app.js') }}?v=1.4"></script>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{{ request.static_url('molcalc:static/css/app.css') }}" />
    <link rel="stylesheet" href="{{ request.static_url('molcalc:static/fontawesome/css/all.css') }}" />

