
<script type="text/javascript">

var orbInfo1 = {
    height: '100%',
    width: '100%',
    j2sPath: "/static/jsmol/j2s",
    use: 'HTML5',
    disableInitialConsole: true,
    allowJavaScript: true,
    debug: false,
};


orbMolecule = `{{orbitalstxt}}`

var jmolOrb;

waitForElement('#jmolOrb_appletdiv', function() {
    jsmolSetMol(jmolOrb, orbMolecule);
    Jmol.script(jmolOrb, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3');
	Jmol.script(jmolOrb, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3');
	Jmol.script(jmolOrb, 'mo TITLEFORMAT ""');
	Jmol.script(jmolOrb, 'centerAt average 0.0 0.0 0.0');
});



$(function()
{
    $sidebars = $(".sidebar");

    // View Orbital
    $('.orbital_levels a').click(function()
    {
        // Check for getProperty fileName
        var orbital = $(this).attr('rel');
        Jmol.script(jmolOrb, 'mo '+orbital);
        $sidebars.removeClass("active");
        return false;
    });

    // Balls on off
    $('#spacefill_switch_orb').change(function()
    {
        var checked = $(this).prop('checked');
        var rel;
        if(checked)
        {
            rel = 'on; spacefill 24%;';
        }
        else
        {
            rel = 'off';
        }
        Jmol.script(jmolOrb, 'cpk '+rel);
    });

});

</script>


<div class="toggle700 calcOptionMenu">
    <a class="button highlight btnSidebar" href="#calcOrbitals">
        <!-- <i class="fas fa&#45;atom"></i> -->
        Orbitals
    </a>
</div>


<section class="options sidebar" id="calcOrbitals">

    <section class="sidebar-cover"></section>
    <section class="sidebar-background btnCloseSidebar" href="#calcOrbitals"></section>

    <section class="sidebar-wrapper"> <!-- sidebar wrapper -->

    <section class="toolset toggle700">
        <a class="button icon btnCloseSidebar" href="#calcOrbitals">
            <i class="fas fa-times"></i>
        </a>
    </section>

    <table>
        <tr>
            <td>Sticks and balls</td>
            <td class="center">

            <div class="onoffswitch">
            <input autocomplete="off" type="checkbox" class="onoffswitch-checkbox" id="spacefill_switch_orb" name="spacefill_switch_orb" checked="">
            <label class="onoffswitch-label" for="spacefill_switch_orb">
            <div class="onoffswitch-inner"></div>
            <div class="onoffswitch-switch"></div>
            </label>
            </div>

            </td>
        </tr>
    </table>


<ul class="data orbital_levels">

{% for energy in orbitals %}

    <li>
        <span class="index txt">{{loop.index}}</span>
        <span class="energy txt">{{ energy }} eV</span>
        <span class="action"><a href="#" rel="{{loop.index}}"><i class="fas fa-arrow-circle-right"></i></a></span>
    </li>

{% endfor %}

</ul>

    </section> <!-- sidebar wrapper -->
</section>

<section class="view">

        <div class="jsmol" style="width: 100%;height: 100%;">


<script type="text/javascript">
jmolOrb = Jmol.getApplet("jmolOrb", orbInfo1);
</script>


        </div>


</section>

