

<script type="text/javascript">

var jmolSurf;

var surfInfo1 = {
    height: '100%',
    width: '100%',
    j2sPath: "/static/jsmol/j2s",
    use: 'HTML5',
    disableInitialConsole: true,
    allowJavaScript: true,
    debug: false,
};

var surfMolecule = `{{mol2 | safe}}`;

waitForElement('#jmolSurf_appletdiv', function() {
    jsmolSetMol(jmolSurf, surfMolecule);
	// Jmol.script(jmolVib, 'centerAt average 0.0 0.0 0.0');

    // Settings
    Jmol.script(jmolSurf, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3');
    Jmol.script(jmolSurf, 'set solventProbe 1.4; isosurface molecular map mep');
    Jmol.script(jmolSurf, 'color isosurface translucent 0.5');
    Jmol.script(jmolSurf, 'color $isosurface1 "roygb" range -0.05 0.05');
    Jmol.script(jmolSurf, 'hover q_%e%i = %.2P'); // Particle charge

    // Get center of mass
    Jmol.script(jmolSurf, 'atomSet = {*}; n = atomSet.size; var mx = 0;var my = 0;var mz = 0; for (i=0; i<n; i+=1): mx = mx+atomSet[i].x*atomSet[i].mass; my = my+atomSet[i].y*atomSet[i].mass; mz = mz+atomSet[i].z*atomSet[i].mass'); 
    Jmol.script(jmolSurf, 'atomSet = {*}; m = atomSet.mass.sum; cx = @mx / @m; cy = @my / @m; cz = @mz / @m;');

    // Dipole coordinates
    Jmol.script(jmolSurf, 'dx = @cx - {{dipolex}}; dy = @cy - {{dipoley}}; dz = @cz - {{dipolez}}');

    // Move Dipole vector to Center of Mass
    Jmol.script(jmolSurf, 'dx1 = @cx+0.5*(@cx-@dx); dy1 = @cy+0.5*(@cy-@dy); dz1 = @cz+0.5*(@cz-@dz);');
    Jmol.script(jmolSurf, 'dx2 = @dx+0.5*(@cx-@dx); dy2 = @dy+0.5*(@cy-@dy); dz2 = @dz+0.5*(@cz-@dz);');

    // Set text
    Jmol.script(jmolSurf, 'set echo "surface" 50% 6%; set echo "surface" center; font echo 13; color echo black; echo Blue: Positive, Red: Negative;');
    Jmol.script(jmolSurf, 'set echo "charge" 50% 0%; set echo "charge" center; font echo 13; color echo black; echo Mouse over atoms for partial charge;');
    Jmol.script(jmolSurf, 'set echo "plus" {@dx1,@dy1,@dz1}; font echo 25; color echo black; echo "+"; set echo "plus" hidden');
    Jmol.script(jmolSurf, 'set echo "minus" {@dx2,@dy2,@dz2}; font echo 35; color echo black; echo "-"; set echo "minus" hidden');
});


$(function()
{
    // Surface on off
    $('#surface_switch').change(function()
    {
        var checked = $(this).prop('checked');
        var rel;
        if(checked)
        {
            rel = 'on';
        }
        else
        {
            rel = 'off';
        }
        Jmol.script(jmolSurf, 'isosurface '+rel);
        if (rel == 'on' ) {Jmol.script(jmolSurf, 'set echo "surface" displayed');}
        else {Jmol.script(jmolSurf, 'set echo "surface" hidden ');}
    });

    // Dipole on off
    $('#dipole_switch').change(function()
    {
        var checked = $(this).prop('checked');
        var rel;
        if(checked)
        {
            rel = 'on';
        }
        else
        {
            rel = 'off';
        }
        Jmol.script(jmolSurf, 'dipole arrow1 {{dipole}} {@dx1,@dy1,@dz1} {@dx2,@dy2,@dz2} NOCROSS width 0.05; color $arrow1 black; dipole arrow1 '+rel+'; draw ctr diameter 0.1 color black {@cx,@cy,@cz} '+rel);
        if (rel == 'on' ) {Jmol.script(jmolSurf, 'set echo "plus" displayed; set echo "minus" displayed');}
        else {Jmol.script(jmolSurf, 'set echo "plus" hidden; set echo "minus" hidden');}
    });

    // Translucent Molecule on off
    $('#translucent_switch').change(function()
    {
        var checked = $(this).prop('checked');
        var rel;
        if(checked)
        {
            rel = 'on';
        }
        else
        {
            rel = 'off';
        }
        if (rel == 'on' )
        {Jmol.script(jmolSurf, 'color atoms translucent 0.4; color bonds translucent 0.7');}
        else
        {Jmol.script(jmolSurf, 'color atoms translucent 0; color bonds translucent 0');}
    });
});


</script>


<div class="toggle700 calcOptionMenu">
    <a class="button highlight large btnSidebar" href="#calcSolvation">
        <i class="fas fa-cog"></i>
    </a>
</div>


{% if not has_solvation %}

<section class="view">

    <strong>Solvation calculation failed</strong>

</section>

{% else %}

<section class="options sidebar" id="calcSolvation">



    <section class="sidebar-cover"></section>
    <section class="sidebar-background btnCloseSidebar" href="#calcSolvation"></section>

    <section class="sidebar-wrapper"> <!-- sidebar wrapper -->

    <section class="toolset toggle700">
        <a class="button icon btnCloseSidebar" href="#calcSolvation">
            <i class="fas fa-times"></i>
        </a>
    </section>

    <table>
        <tr>
            <td style="width:50%">Surface</td>
            <td class="center">

                <div class="onoffswitch">
                    <input autocomplete="off" type="checkbox" class="onoffswitch-checkbox" id="surface_switch" name="surface_switch" checked>
                    <label class="onoffswitch-label" for="surface_switch">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>

            </td>
        </tr>

        <tr>
            <td style="width:50%">Dipole</td>
            <td class="center">

                <div class="onoffswitch">
                    <input autocomplete="off" type="checkbox" class="onoffswitch-checkbox" id="dipole_switch" name="dipole_switch">
                    <label class="onoffswitch-label" for="dipole_switch">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>

            </td>
        </tr>

        <tr>
            <td style="width:50%">Translucent Molecule</td>
            <td class="center">

                <div class="onoffswitch">
                    <input autocomplete="off" type="checkbox" class="onoffswitch-checkbox" id="translucent_switch" name="translucent_switch">
                    <label class="onoffswitch-label" for="translucent_switch">
                        <div class="onoffswitch-inner"></div>
                        <div class="onoffswitch-switch"></div>
                    </label>
                </div>

            </td>
        </tr>
  </table>

  <p style="margin-bottom:10px;text-align:center;">Aqueous Solvation Energy at 298.15 K</p>

  <table>
        <tr><td class="center" style="width:50%">Property</td><td style="width:25%" class="center">Value</td><td style="width:25%" class="center">Unit</td><tr>
        <tr><td>Total Solvation Energy</td><td class="right">{{soltotal}}</td><td class="right">kJ mol<sup>-1</sup></td><tr>
        <tr><td>Polar Solvation Energy</td><td class="right">{{solpolar}}</td><td class="right">kJ mol<sup>-1</sup></td><tr>
        <tr><td>Nonpolar Solvation Energy</td><td class="right">{{solnonpolar}}</td><td class="right">kJ mol<sup>-1</sup></td><tr>
  </table>

  <table>
        <tr><td style="width:50%">Surface Area</td><td style="width:25%" class="right">{{solsurface}}</td><td style="width:25%" class="right">Å<sup>2</sup></td><tr>
        <tr><td>Charge of Molecule</td><td class="right">{{charge}}</td><td class="right"></td><tr>
        <tr><td>Dipole</td><td class="right">{{soldipoletotal}}</td><td class="right">Debye</td><tr>
  </table>



    </section> <!-- sidebar wrapper -->
</section> <!-- sidebar -->

<section class="view">

        <div class="editor-jsmol" style="width: 100%;height: 100%;">

<script type="text/javascript">
jmolSurf = Jmol.getApplet("jmolSurf", surfInfo1);
Jmol.script(jmolSurf, 'background "#ffffff"');
Jmol.script(jmolSurf, 'set bondRadiusMilliAngstroms 100; set multipleBondSpacing -0.3');
</script>

        </div>


</section>

{% endif %}

