
/* Reset some styles */
::-webkit-input-placeholder,
:-moz-placeholder {
    color:#999;
}

::-moz-selection {
    color:white;
    background:#333;
    text-shadow:none;
}
::selection {
    color:white;
    background:#333;
    text-shadow:none;
}


::-moz-focus-inner {
    border: 0;
}
input[type=submit]:focus {
    outline: 0;
}


/* Standard Classes */
.hidden,
.print {display:none;}
.clean {clear:both;}
.hidden {display:none !important;}
.center {text-align:center;}




/* Help Buttons */
.frmBtn {
    display:inline-block;
    margin:0 0 0 0;
    padding:1px 2px 0 2px;
    background:#f6f6f6;
    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0, rgb(251,251,251)),
        color-stop(0.15, rgb(250,250,250)),
        color-stop(0.98, rgb(221,221,221))
    );
    background-image: -moz-linear-gradient(
        left top,
        rgb(251,251,251) 0%,
        rgb(250,250,250) 15%,
        rgb(221,221,221) 98%
    );
    -moz-box-shadow:inset -1px -1px 0px #fff;
    -webkit-box-shadow:inset -1px -1px 0px #fff;
    box-shadow:inset -1px -1px 0px #fff;
    border-width:1px 2px 2px 1px;
    border-style:solid;
    border-color:#c5c5c5 #949494 #949494 #c5c5c5;
    -moz-border-radius:2px 2px 2px 2px;
    -webkit-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    font:10px tahoma, sans-serif;
    font-weight:bold;
    color:#555;
    text-shadow:1px 1px 0px rgba(255,255,255,1);
    text-decoration:none;
}



/* Form */
input[type=text] {
    border-width:1px;
    border-style:solid;
    border-color:#bbb #aaa #aaa #bbb;
    border-radius:2px;
    /* box-shadow: */
    /*     inset 0px 1px 3px rgba(0,0,0,0.1), */
    /*     1px 1px 1px rgba(0,0,0,0.1); */

    padding:8px 6px;
    background-repeat:no-repeat;
    background-position:95% 50%;

    width:200px;

    font:inherit;

}
input[type=text]:focus {
    border-color:#0373BB;
}

input:focus {
    outline-width: 0;
}

/* Form Search Elements */
input[type=text].loading {
    background-image:url('../images/loading.gif');
}
input[type=text].success {
    background-image:url('../images/pixelated-dark/check.gif');
}
input[type=text].fail {
    background-image:url('../images/pixelated-dark/x.gif');
}









/* Prompt Box */
.ajaxarea {
    z-index:2000;
    position:relative;
}
.prompt-container {
    background:#000;
    background:rgba(0,0,0,0.5);
    background:rgba(255,255,255,0.5);
    display: block;
    height: 500%;
    left: 0;
    position: fixed;
    z-index: 2001;
    top: 0;
    width: 100%;
}
.prompt-box {
    width:400px;
    background:white;
    background: linear-gradient(#fff, #f5f5f5);
    background:#fafafa;

    /* NOTE: Margin is set by JS */
    margin:0 auto 0 auto;
    box-shadow:
        0 0 1px rgba(0,0,0,0.25),
        0 1px 5px 2px rgba(0,0,0,0.05),
        0 5px 4px -3px rgba(0,0,0,0.15);
}
.prompt-box .prompt-header {
    border-width:0 0 1px 0;
    border-color:#ddd;
    border-style:solid;
    box-shadow:0 1px 0px #fff;
}
.prompt-box .prompt-header strong {
    display:block;
    padding:10px 20px;
}
.prompt-box .prompt-message {
    padding:20px 20px;
}

.prompt-box .prompt-respond {
    padding:10px 20px;

    border-width:1px 0 0 0;
    border-color:#fff;
    border-style:solid;
    box-shadow:0 -1px 0px #ddd;
}
.prompt-box .prompt-respond ul {
    min-height:20px;
    float:right;
}
.prompt-box .prompt-respond ul li {
    float:left;padding:0 0 0 10px;
}
.prompt-box .prompt-respond ul li a {
}


/* Prompt Box Content */
.prompt-box .prompt-message ul {
    margin:10px 20px 10px 20px;
    list-style:square;
}
.prompt-box ul li {
    line-height:20px;
    margin:0 0 0 0;
}

.prompt-box .prompt-message p {
    margin-bottom:0;
}

/* Prompt Box Form */
.prompt-box .form  {}
.prompt-box .form input[type=text] {
    width:348px;
}
















/* Loading bar */
.loading_bar {
    border-width:1px;
    border-style:solid;
    border-color:#ddd;
    border-radius:2px;
    background:rgba(0,0,0,0.02);
    /* box-shadow: 1px 1px 1px rgba(0,0,0,0.3); */
    position:relative;
    width:100%;
    height:17px;
    padding:1px 1px 2px 1px;
    margin:0 0 20px 0;
}
.loading_bar .bar {
    height:18px;
    WIDTH:0%;
    background:url('../images/loading_background.gif') 0 0 repeat-x;
    opacity:0.7;
}

.loading_bar .high {
    position:absolute;
    top:-28px;
    LEFT:0%;
}
.loading_bar .high .highHlp {
    text-align:center;
    display:block;
    background:black;
    width:36px;
    height:20px;
    margin:0 0 0 -18px;
}
.loading_bar .high .highHlp:after {
    display:block;
    color:black;
    font-size:0;
    overflow:hidden;
    content:".";

    width:7px;
    height:7px;

    background:black;

    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);

    margin:0 auto;
    position:relative;
    bottom:4px;
}

.loading_bar .high .highHlp .nom {color:white;z-index:10;position:relative;}




/* Elements */
.explain {
    display:inline-block;
    cursor:help;
}
.explain .hvrHlp {
    width:250px;
    bottom:8px;
    left:-127px;
}






/* Button */
.button {
    cursor:pointer;
    border-width:1px;
    border-style:solid;

    border-color:#fff;
    border-radius:1px;

    display:inline-block;
    padding:5px;

    background:
        rgba(255,255,255,0.75);

    box-shadow:
        0 0 1px rgba(0,0,0,0.2),
        1px 1px 3px rgba(0,0,0,0.3);

    line-height:100%;
    font-weight:bold;
}


@-moz-document url-prefix() {
    .button {
        box-shadow:
            0 0 1px rgba(0,0,0,0.2),
            1px 1px 2px rgba(0,0,0,0.25);
    }
}


.button:hover {
    /* background:rgba(255,255,255,1.0); */
}
.button:focus,
.button.focus {
    box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);
    background:rgba(0,0,0,0.01);
    cursor:default;
}
.button:active {
    box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);
    background:rgba(0,0,0,0.01);
}
.button.active {
    box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);
    background:rgba(0,0,0,0.01);
    color:#222;
    cursor:default;
}
.button.inactive {
    color:#aaa;
    cursor:default;
}
.button.inactive:active,
.button.inactive:focus {
    background:
        rgba(255,255,255,0.75);
    box-shadow:
        0 0 1px rgba(0,0,0,0.2),
        1px 1px 3px rgba(0,0,0,0.3);
}




/* hvrHelp */
*:hover > .hvrHlpCnt {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}
.hvrHlpCnt:hover {
    visibility:hidden;
    opacity:0;
    cursor:default;
}
.hvrHlpCnt {
    display:block;
    position:relative;
    top:0;
    left:0;

    -webkit-transition: visibility 0.1s linear 0s,opacity 0.1s ease-in-out;
    -moz-transition: visibility 0.1s linear 0s,opacity 0.1s ease-in-out;
    -o-transition: visibility 0.1s linear 0s,opacity 0.1s ease-in-out;
    transition: visibility 0.1s linear 0s,opacity 0.1s ease-in-out;


    visibility:hidden;
    opacity:0;

    /*
    visibility:visible;
    opacity:1;
    background:red;
    /* */

    width:10px;
    margin:0 auto;

}
.hvrHlp {
    display:block;

    /* BLACK (DEFAULT) */
    background:#000;
    color:#fff;

    width:120px;
    /**/font-size:90%; /*MORE READABLE PLEASE*/
    font-weight:bold;
    line-height:140%;
    padding:8px 8px 0px 8px;

    position:absolute;
    z-index:500;
    bottom:14px;
    left:-62px;

    border-radius:1px;

    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
    box-shadow:
        1px 1px 0px #fff,
        -1px -1px 0px #fff;
    text-shadow:none;
    text-align:left;

}
.hvrHlp:before {
    display:none;
    content:".";
}
.hvrHlp:after {
    display:block;
    color:black;
    font-size:0;
    overflow:hidden;
    content:".";

    width:10px;
    height:10px;

    /* BLACK */
    background:black;

    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);

    margin:0 auto;
    position:relative;
    bottom:-5px;

    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
    box-shadow:1px 1px 0px #fff;

}


/* Checkbox */
/* Based on http://proto.io/freebies/onoff/ */
.checkbox {
    position: relative;
    width:25px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.checkbox .checkbox-input {
    display: none;
}

.checkbox .checkbox-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
}
.checkbox-inner:before,
.checkbox-inner:after {
    float: left; width: 100%; height: 25px; padding: 0; line-height: 25px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    text-align:center;
    position:absolute;

    border-width:1px;
    border-style:solid;
    border-color:#fff;

    box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);
}
.checkbox-inner:before {
    content: "\2713";
    background-color: #0373BB;;
    color: #FFFFFF;
    font-size:15px;
}
.checkbox-inner:after {
    content: "\2715";
    background-color: #e0e0e0;
    color: #666666;
    font-size:15px;

    text-shadow:1px 1px 0 rgba(255,255,255,0.5)
}

.checkbox-input:checked + .checkbox-label .checkbox-inner:after {
    display:none;
}


/* On Off Switch */
/* Based on http://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #bbb;
    border-radius: 3px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    /* -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s; */
    /* -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s; */
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px;
    color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;

    box-shadow:inset 1px 1px 4px rgba(0,0,0,0.1);
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px;
    background-color: #0373BB;
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 7px;
    background-color: #F8F8F8;
    color: #666666;
    text-align: right;
    text-shadow:1px 1px 0 #fff;
}

.onoffswitch-switch {
    width: 40px; margin: 0px;
    background: #FFFFFF;
    border: 1px solid #bbb;
    border-radius: 2px;
    position: absolute; top: 0; bottom: 0; right: 38px;
    /* -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s; */
    /* -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;  */
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background:white;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


.center .onoffswitch {
    margin: 0 auto;
    text-align:left;
}

/* 0373BB; */
