
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fonts ************************************************************/


/* default **********************************************************/


/* ::-webkit-scrollbar { */
/*     width: 1px;  /* remove scrollbar space */ */
/*     /* background: transparent;  /* optional: just make scrollbar invisible */ */ */
/* } */

/* ::-webkit-scrollbar-thumb { */
/*     background: #000; */
/* } */

* {
	/* box-sizing: border-box; */
	padding: 0;
	margin: 0;
}

/* input:not(.urlbar-input):not(.textbox-input):not(.form-control):not([type='checkbox']) { */
/*     -moz-appearance: none !important; */
/*     background-color: white; */
/*     color: black; */
/*     border: inheirt; */
/* } */


/* Stops Mobile Safari from auto-adjusting font-sizes */
body,
select,
input,
textarea {
    -moz-appearance: none !important;
	-webkit-text-size-adjust: none;
	-webkit-text-size-adjust: 100%;
}

/* Reset some styles */
::-webkit-input-placeholder,
:-moz-placeholder {
    color:#999;
}

::-moz-selection {
    color:white;
    background:#222;
    text-shadow:none;
}
::selection {
    color:white;
    background:#222;
    text-shadow:none;
}

::-moz-focus-inner {
    border: 0;
}

input[type=submit]:focus {
    outline: 0;
}


body {
    /* font-family: "Fira Sans", sans-serif; */
    /*  "Varela Round", "century gothic", verdana; */
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 30px;

	width: 100vw;
	height: 100vh;

	position: absolute;

    background: #eeeff1;
    background: #f5f5f5;
    background: #efefef;
    background: #f7f7f7;
    color: #222;
	cursor: default;
}

@media only screen and (max-width: 767px) {

    body {
        background: #fff;
    }

}




.hidden {display: none;}

p {
}

p strong {
    font-weight:bold;
}
p em {
    font-style: italic;
}

p a {
    text-decoration:none;
    color: inherit;
    /* box-shadow: inset 0px -4px 0px 0px rgb(0, 121, 211); */
    /* box-shadow: inset 0px -4px 0px 0px rgb(255,255,255); */
    box-shadow: inset 0px -4px 0px 0px rgb(126, 181, 222);
}
p a:hover {
    /* color: #0373bb; */
    /* color: rgb(0, 121, 211); */
    background: white;
    box-shadow: none;
}


sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/* elements **********************************************************/

/* loading spinner */
/* https://loading.io/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 6px;
  border: 4px solid #333;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* mobile menu */
/* https://jonsuh.com/hamburgers/ */
.border-menu {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    /* height: 14px; */
    /* height: 40px; */

    position: absolute;
    z-index: 5;
}
.border-menu-inner:after,
.border-menu-inner:before,
.border-menu-inner {
    top: 2px;
    background-color: #222;
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 10px;
}

.border-menu-inner:after,
.border-menu-inner:before{
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;

	display: block;
    content: "";
}

.border-menu-inner {
    display: block;
    margin-top: -2px;
    top: 2px;
}
.border-menu-inner:before {
    top: 10px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform,opacity;
}
.border-menu-inner:after {
	top: 20px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform,opacity;
}


/* .border-menu:hover .border-menu-inner, */
a.active > .border-menu .border-menu-inner,
.border-menu.active .border-menu-inner {
    transform: translate3d(0,10px,0) rotate(45deg);
}
/* .border-menu:hover .border-menu-inner:before, */
a.active > .border-menu .border-menu-inner:before,
.border-menu.active .border-menu-inner:before {
	transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
    opacity: 0;
}
/* .border-menu:hover .border-menu-inner:after, */
a.active > .border-menu .border-menu-inner:after,
.border-menu.active .border-menu-inner:after {
    transform: translate3d(0,-20px,0) rotate(-90deg);
}

/* table */
table {
    border-collapse: separate;
    border-spacing: 2px;
    width:100%;
    margin:0 0 20px 0;
}

table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table tr td {
    background:#fff;
    padding:10px 10px;
    line-height:30px;

    vertical-align:top;

	border: 0;
}

table tr td p {margin:0;}
table tr td img {float:none;display:inline;}
table tr td.right {text-align:right;}
table tr td.center {text-align:center;}


/* Button */
.button {
    display: inline-block;

    line-height:inherit;
    user-select: none;
    cursor:pointer;

    padding: 0px 7px;

    border: 1px solid #ddd;
    border-color: #dadada;
    border-radius: 3px;

    text-decoration: none;
    color: #222;
    background: #ddd;
    background: #dadada;

    font-weight: 700;
}

.button:hover {
    background: #fff;
    border-color: #fff;
}
.button:focus:hover,
.button:focus,
.button.focus {
    cursor:default;
    background: rgb(0, 121, 211);
    border-color: rgb(0, 121, 211);
    color: #fff;
}
.button:active {
    cursor: default;
    background: rgb(0, 121, 211);
    border-color: rgb(0, 121, 211);
    color: #fff;
}
.button.active {
    cursor: default;
    background: rgb(0, 121, 211);
    border-color: rgb(0, 121, 211);
    color: #fff;
}
.button.icon {
    height: 30;
    width: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;

    font-size: 15px;

    /* color: #222; */
    /* background: #ddd; /* alt #e7e6ef */ */
    /* border-color: #ddd; */

    font-weight:bold;
}

.button.icon:hover {
    background: white;
    border-color: white;
    color: #222;
}

.button.icon:focus {
    background: rgb(0, 121, 211);
    border-border: rgb(0, 121, 211);
    color: #fff;
}

.button.highlight {
    background: rgb(0, 121, 211);
    border-color: rgb(0, 121, 211);
    color: #fff;
}
.button.highlight:hover {
    color:#222;
    background: #fff;
    border-color: #fff;
}

.button.disabled {
}


.button.inactive {
    color:#aaa;
    cursor:default;
}
.button.inactive:active,
.button.inactive:focus {
    background:
        rgba(255,255,255,0.75);
    box-shadow:
        0 0 1px rgba(0,0,0,0.2),
        1px 1px 3px rgba(0,0,0,0.3);
}

.button.icon img {
	vertical-align: middle;
	width: 18px;
	height: 18px;
}


/* loading meter */
/* https://css-tricks.com/css3-progress-bars/ */

.meter {
	height: 10px;
	position: relative;
	background: #ddd;
	border-radius: 25px;
	padding: 5px;

}
.meter > span {
	display: block;
	height: 100%;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	position: relative;
	overflow: hidden;
    background: #222;
}
.meter > span:after,
.animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image:
		-webkit-gradient(linear, 0 0, 100% 100%,
			color-stop(.25, rgba(255, 255, 255, .2)),
			color-stop(.25, transparent), color-stop(.5, transparent),
			color-stop(.5, rgba(255, 255, 255, .2)),
			color-stop(.75, rgba(255, 255, 255, .2)),
			color-stop(.75, transparent), to(transparent)
		);
	background-image:
		-moz-linear-gradient(
			-45deg,
			rgba(255, 255, 255, .2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, .2) 50%,
			rgba(255, 255, 255, .2) 75%,
			transparent 75%,
			transparent
		);
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	-moz-animation: move 2s linear infinite;
		-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
			-moz-border-radius-topright: 8px;
		-moz-border-radius-bottomright: 8px;
				border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		-webkit-border-top-left-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
			-moz-border-radius-topleft: 20px;
			-moz-border-radius-bottomleft: 20px;
				border-top-left-radius: 20px;
				border-bottom-left-radius: 20px;
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}

@-moz-keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 50px 50px;
	}
}


/* hover help hvrlp */

.hvrHlp {display: none;}


/* */



/* form */
input[type=text] {
    width: 90%;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
	height: 40px;
	line-height: 40px;
    padding: 0 10px;
    font: inherit;
}
input[type=text]:focus {
    border-color: rgb(0, 121, 211);
    /* border-color:  rgb(126, 181, 222); */
    outline:0;
}



/* popup promp */

.prompt-container {
    position: fixed;
    top: 0;
    right: 0;

	width: 100vw;
	height: 100vh;
	max-width:100%;
	overflow-x:hidden;

    display: grid;
    align-items: center;
    grid-template-columns: auto 512px auto;
 	grid-template-rows: auto;
    grid-template-areas:
        "yy prompt xx";

    background: rgba(255,255,255,0.5);
    background: rgba(247,247,247,0.8);
    /* background: rgba(150,150,150,0.2); */

}

.prompt-box {
    grid-area:prompt;
    align-self: center;

    display: block;

    background: #fff;
    background: rgba(255,255,255);
    text-align: left;

    /* border: 1px solid #ddd; */
    /* border: 1px solid rgba(0,0,0,0.1); */

    padding:20px 30px;

    border-radius: 3px;
}
.prompt-box.transparent {
    background: transparent;
}
.prompt-box .prompt-header {
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: bold;
    padding: 5px 10px 0 10px;
}
.prompt-box .prompt-message {
    padding: 10px 10px 10px 10px;
}
.prompt-box .prompt-respond {
}

.prompt-box .prompt-respond ul {
}
.prompt-box .prompt-respond ul li {
    display: inline-block;
    margin: 10px 0 15px 10px;
}

/* prompt loading */
.prompt-box .meter {
	width: 100%;
	display: block;
    margin: 0 0 0 -5px;
}


@media only screen and (max-width: 767px) {

    .prompt-container {
        z-index: 500;

        grid-template-columns: auto;
        grid-template-areas: "prompt";

        /* TODO just set the background completly white? */
        background: #fff;
    }

    .prompt-box {
        margin: 0 20px;
        padding: 0 5px;
        overflow-x:hidden;
        padding: 0px;
    }

}




/* layout **********************************************************/


.molcalc {
	width: 100vw;
	height: 100vh;
	max-width:100%;
	overflow-x:hidden;

    justify-content: center;
    display: grid;
    grid-template-columns: 350px 350px 350px;
 	grid-template-rows: 10px 50px 10px auto 70px;
    grid-template-areas:
		"push push push"
        "header navigation navigation"
		"line2 line2 line2"
        "view view view"
        "footer footer footer";

    /* TODO */
    position: relative;
}


.molcalc.editor {
	width: 100vw;
	height: 100vh;
	max-width:100%;
	overflow-x:hidden;

    justify-content: center;
    display: grid;
    grid-template-columns: 350px 350px 350px;
 	grid-template-rows: 10px 50px 10px 41px 10px auto 70px;
    grid-template-areas:
		"push push push"
        "header navigation navigation"
        "line line line"
        "search search search"
		"line2 line2 line2"
        "editor view view"
        "footer footer footer";
}


.molcalc.loading {
	
    grid-template-columns: auto 64px auto;
 	grid-template-rows: auto 64px auto;
    grid-template-areas:
		"space space space"
		"space2 loading space3"
		"bottom bottom bottom"

	;
}
.molcalc.loading-bar {
	
    grid-template-columns: 1fr;
 	grid-template-rows: auto 40px 30px 20px 60px auto;
    grid-template-areas:
		"space "
		"header"
		"space2"
		"loading"
		"space3"
		"bottom "

	;
}

.mc-loading {display: none;}
.mc-loading-bar {display: none; padding:0; text-align:center;font-weight:bold;}
.molcalc.loading .mc-loading {
	display: block;
	grid-area: loading;
}
.molcalc.loading-bar .mc-loading-bar {
	display: inline-block;
	grid-area: loading;
}
.molcalc.loading-bar .mc-loading-bar .meter {
	width: 100px;
	display: inline-block;
}
.molcalc.loading .mc-header,
.molcalc.loading-bar .mc-header {
	text-align: center;
}

.mc-header {
    grid-area: header;
    padding: 0 10px;
}

.mc-header h1 {
    font-size: 25px;
	line-height: 50px;
    font-weight: bold;
    letter-spacing: 0px;

}

.mc-navigation {
	grid-area: navigation;
	display:block;
}

.mc-navigation ul {
	text-align: right;
}
.mc-navigation li {
	display: inline-block;
	line-height: 50px;
	margin: 0 10px 0 10px;
}

.mc-navigation li a {
	display: block;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	text-decoration: none;

	color: #222;
}
.mc-navigation li a:hover {
    color: rgb(0, 121, 211);
}

.mc-footer {
    grid-area: footer;
	line-height: 50px;

    background:
        url('../img/unicph_logo.png') no-repeat right 10px center;
        /* url('../img/unibas_logo.jpg') no-repeat right 200px center; */
    background-size: 150px;
}
.mc-footer p {
	margin: 10px 0 0 10px;
}



/* sections */

.mc-editor-searchbar {
    padding: 0 10px;
	grid-area: search;

    display: grid;
    grid-template-columns: auto;
 	grid-template-rows: 50px;
    grid-template-areas:
        "search-bar";

}

.mc-editor-searchbar .button.icon {
    height: 42px;
    width: 42px;
    line-height: 42px;
	font-size: 20px;

    background: none;
    border: none;

    position: absolute;
    right: 10px;
    top: 0;

    display: none;

}
.mc-editor-searchbar a.button:hover {
    background: none;
    border: none;
    color: rgb(0, 121, 211);
}
.mc-editor-searchbar input {
    grid-area: search-bar;
    display: block;
    width: 98%;
    padding: 0 1%;

    display: block;
    background: white;

    border-radius: 4px;
    border-color: white;
    text-align: center;
}

.mc-editor-searchbar input[type=text].loading {


	background-image:
		-webkit-gradient(linear, 0 0, 100% 100%,
			color-stop(.25, rgba(255, 255, 255, .2)),
			color-stop(.25, transparent), color-stop(.5, transparent),
			color-stop(.5, rgba(255, 255, 255, .2)),
			color-stop(.75, rgba(255, 255, 255, .2)),
			color-stop(.75, transparent), to(transparent)
		);
	background-image:
		-moz-linear-gradient(
			-45deg,
			rgba(255, 255, 255, .2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, .2) 50%,
			rgba(255, 255, 255, .2) 75%,
			transparent 75%,
			transparent
		);
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px;
	-webkit-animation: move 2s linear infinite;
	-moz-animation: move 2s linear infinite;

    background-color: rgb(0, 121, 211);
    color: white;

}

.mc-content {
	grid-area: view;
	background: white;
	margin: 10px;
	/* max-height: 100px; */

	overflow:hidden;

    z-index: 0;

    border-radius: 4px;
}


.mc-editor-tools {
	grid-area: editor;
}
.mc-editor-tools .toolset {
	margin: 10px;
}
.mc-editor-tools .toolset h2 {
	margin:0 0 20px 0;
}
.mc-editor-tools .toolset h3 {
	margin:0 0 20px 0;
    font-weight: bold;
}
.mc-editor-tools .toolset ul {
	margin: 0 0 20px 0;
}
.mc-editor-tools .toolset ul li {
	display: inline-block;
	padding: 0 5px 10px 0;
}
.mc-editor-tools .toolset.quantum {
	margin: 20px 10px;
}
.mc-editor-tools .toolset.quantum h2 {
	text-align: left;
}


/* chemdoodle */

#editor-chemdoodle div:first-of-type {
    display: none;
}

#editor-jsmol {
    width: 100%;
    height: 100%;
}

.canvas_jsmol {
    width: 100%;
    height: 100%;

    /* TODO Add loader */
}


/* calculations */

.molcalc.calculation .mc-content {
    background: transparent;
    overflow: visible;
}
.mc-content.calculation h1 {
    font-size: 30px;
}
.molcalc.calculation .mc-content pre {

    font-family: mononoki, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

    font-size: 15px;
    line-height: 20px;

    overflow-x: auto;
    tab-width: 4;

    background: #333;
    color: #fff;
    padding: 20px;

}

/* page */
.molcalc.page .mc-content {
    background: transparent;
    padding: 60px 0 60px 0;
    overflow: visible;
}
.molcalc.page .mc-content h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
}
.molcalc.page .mc-content h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0 20px 0;
}
.molcalc.page .mc-content p {
    line-height: 35px;
    margin: 10px 0 0 0;
}
.molcalc.page .mc-content ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
.molcalc.page .mc-content ul li {
}


.toggle700 {display: none !important; }

@media only screen and (max-width: 1100px) {

    .molcalc.editor {
		grid-template-columns: 1fr 1fr 1fr;
	}

    .molcalc.calculation {
		grid-template-columns: 1fr;
	}

    .molcalc.page {
		grid-template-columns: 1fr;
	}

}

@media only screen and (max-width: 767px) {

    .toggle700 {display: block !important;}

	.molcalc.editor {
		grid-template-columns: 50% 50%;
		grid-template-rows: 10px 40px auto 47px;
		grid-template-areas:
            "room room"
			"header header"
			"view view"
            "footer footer";
	}

    .mc-footer{
        display: none;
    }

    /* or move to header, expand on touch */
    .mc-editor-searchbar {

        position: absolute;
        display: block;
        margin: 0;
        padding: 10px;

        visibility: hidden;
        transition: all .1s ease-in-out;
        width: calc(100% - 20px);

    }
    .mc-editor-searchbar:focus,
    .mc-editor-searchbar.active {
        visibility: visible;
    }
    .mc-editor-searchbar input {
        border: 0;
        width: calc(100% - 20px);
        padding: 0 10px;

        /* width: 0px; */
        /* visibility: hidden; */
        /* opacity: 0; */
        /*  */
        text-align: left;

    }
    .mc-editor-searchbar input.active,
    .mc-editor-searchbar input:focus {

        visibility: visible;
        opacity: 1;

    }
    .mc-editor-searchbar a.button {
        border: transparent;
        background: transparent;
        color: #222;
    }

    .btnHeader {
        line-height: 40px;
        gid-area: header;
        position: absolute;
        top: 10px;
    }
    .btnHeader.left {
        left: 10px;
    }
    .btnHeader.right {
        right: 10px;
    }

    .btnHeader .button.icon {
        font-size: 22px;
        width: 40px;
        height: 40px;
        line-height: 40px;

        background: transparent;
        border-color: transparent;
    }


    .mc-header {
        text-align: center;
        line-height: 40px;
        padding:0;
    }
    .mc-header h1 {line-height: 42px;font-size: 25px;}

    .sidebar {

        /* from grid-area */
        grid-area: none;

        width: 100vw;
        height: 100vh;

        position: fixed;
        top: 0;
        bottom: 0;
        /* left: -300px; */


        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        z-index:10;

        background: rgba(255,255,255,0.5);
        background: #eeeff1;

        visibility: hidden;
        transition: all .1s ease-in-out;
        transition: visibility 0s, opacity 0.2s ease-in-out;

        width: 90%;

    }

    .mc-navigation.sidebar {
        z-index: 15;
    }

    /* .sidebar > * { */
    /*     padding: 10px; */
    /* } */

    .sidebar.active,
    #nav:target {
        /* transform: translateX(300px); */
        opacity:1;
        visibility: visible;
    }

    .mc-navigation ul {
        text-align: left;
    }
    .mc-navigation ul li {
        display: block;
        margin: 0;
    }
    .mc-navigation ul li a {

        border-bottom: 1px solid #ddd;
        /* border-color: rgb(0, 121, 211); */
    }

    .sidebar .toolset,
    .sidebar .section {
        padding: 10px;
        margin: 10px;
    }
    .section.toggle700,
    .toolset.toggle700 {
        padding: 0;
    }

    .sidebar .section .btnCloseSidebar,
    .sidebar .toolset .btnCloseSidebar {
        font-size: 22px;
        background: transparent;
        border-color: transparent;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .sidebar .btnSidebar.menu {
        margin:5px 0 0 15px;
        position: absolute;
    }

    .sidebar .toolset h2 {
        margin: 0 0 10px 0;
    }

    .toolset ul.bottombar {
        display: block;
        visibility: visible;
        opacity: 1;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: -20;

        width: 100%;
        margin: 0;
        text-align: center;

        background: #f7f7f7;
        background: #fff;
    }
    .toolset ul.bottombar li {
        padding:10px 5px 10px 5px;
    }
    .toolset ul.bottombar li .button {
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 18px;
    }

    .sidebar-cover {
        background: #f7f7f7;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;

        width: 90%;
    }

    .sidebar-background {
        background: rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -12;
    }



    /* */
    .toolset.tool-choice {
        padding: 0;
        position: absolute;
        top: -5px;
        right: 0;
    }

    .toolset.chemdoodle,
    .toolset.jsmol {
        padding-top: 35px;
    }


}
#mc-editor-2d div:first-child {
    display: none;
}
